/* 
    Document   : cards
    Created on : 10.01.2013, 01:17:43
    Author     : Thomas Oster <thomas.oster@rwth-aachen.de>
    Description:
        Purpose of the stylesheet follows.
*/

#backHtml_tbl,#frontHtml_tbl{
  width:100%;
}

.addCard {
  font-weight: 900;
  border-bottom: 2px solid cornflowerBlue;
  position: absolute;
  top: 0px;
  right: 12px;
}



#buttons {
}