/*--contains style for gui elements like buttons, popups,...*/

/*Whenever you use a button, give it this class*/
.button {
    color: #444;
    border: 1px solid silver;
    padding: 4px 9px 4px 9px;
    border-radius: 3px;
    text-shadow: 0px 1px white;
    /*background-color: rgba(192, 192, 192, 0.13);*/
    background-image: linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);
    background-image: -o-linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);

    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(181,181,181)),
      color-stop(1, rgb(240,240,240))
    );
}

.button:hover
{
  cursor: hand; cursor: pointer; 
}

/* Use this class whenever displaying a tag */

.tag {
    color: black;
    margin-top: 5px;
    margin-right: 5px;
    padding: 6px 10px 6px 10px;
    float: left;
    border-radius: 8px;
    border: 2px solid black;
}

.tag a {
  color: black;
}