
/* 
    Document   : main file
    Created on : 05.01.2013, 16:46:21
    Author     : kougang tambo  <gildas.tambo@rwth-aachen.de>
    Description:main css with reset for all browsers
*/

html,
body,
div,
span,
object,
iframe,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video                                   {
padding: 0;
margin: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
zoom:1;
}
*, *:after, *:before  {
outline: none;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
html, :root{
position:relative;
min-width : 320px;
width:100%;
height:100%;
font-family: sans-serif;
-khtml-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
-moz-text-size-adjust:100%;
-ms-text-size-adjust:100%;
-o-text-size-adjust:100%;
text-size-adjust:100%;
overflow-x: hidden;
overflow-y: auto;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
}
body{
font-size: 12px;
color:black;
height: 100%;
width:100%;
right: 0;
bottom: 0;
left: 0;
top: 0;
position: relative;
}
h1,h2,h3,h4,h5,h6{
text-transform:uppercase;
border-bottom: 1px dotted currentcolor;
}
h1 {
display: block;
font-size: 2em;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
h2 {
display: block;
font-size: 1.5em;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
h3 {
display: block;
font-size: 1.17em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
h4 {
display: block;
-webkit-margin-before: 1.33em;
-webkit-margin-after: 1.33em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
h5 {
display: block;
font-size: 0.83em;
-webkit-margin-before: 1.67em;
-webkit-margin-after: 1.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
h6 {
display: block;
font-size: 0.67em;
-webkit-margin-before: 2.33em;
-webkit-margin-after: 2.33em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
article, aside, footer, header, hgroup, nav, section {
display: block;
}
p {
text-rendering: optimizeLegibility;
-khtml-hyphens: auto;
-webkit-hyphens: auto;
-moz-hyphens: auto;
-ms-hyphens: auto;
-o-hyphens: auto;
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
hyphens: auto;
hyphens: auto;
margin-bottom: 1.5em;
text-align: justify;
}
li{
display: list-item;
text-align: -webkit-match-parent;
}
pre,code{
box-shadow: 20px 0 0 black,-20px 0 0 #1684C8;
background-color: black;
border-left: 6px solid #1684C8;
color: #06C5A7;
font-family: Monaco,"Bitstream Vera Sans Mono","Lucida Consol","Courier New",Courier,monospace;
padding: 20px;
font-size: 12px;
position: relative;
}
pre:before,code:before{
-khtml-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
position: absolute;
left: -26px;
top: 20px;
content: "code";
color: white;
font-size: 12px;
font-weight: 900;
}
audio,canvas,video {
display:inline;
}

a {
color:#6E6E6E;
text-decoration:none;
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
text-rendering: optimizeLegibility;
}

a:focus {
outline:thin dotted;
}

a:hover,a:active {
outline:0;
}

abbr[title] {
border-bottom:1px dotted;
}

b,strong {
font-weight:710;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav{ 
display:block;
position:relative;
}

figure{
position:relative;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 2px 15px 0px rgba(0, 0, 0, 0.3);
border: 5px solid rgba(255, 255, 255, 0.29);
}
a[href$=".pdf"]:before {  

}
blockquote, q {
quotes:none;
}
nav ul, nav ul li, ul li, ul ul li, nav ul ol,nav ol,li,ul {
list-style:none;
list-style-image:none;
margin:0;
padding:0;
}
.thumbnail a:after,
imgParent:before {
bottom: 0;
content: '';
left: 0;
position: absolute;
right: 0;
top: 0;
}

img {
border:0;
-ms-interpolation-mode:bicubic;
vertical-align:middle;
max-width: 100%;
height: auto;
border: 0;
-ms-interpolation-mode: bicubic;
vertical-align: middle;
max-width: 100%;
height: auto;
}

fieldset {
border:0;
margin:0;
padding:0;
}

label {
cursor:pointer;
}

legend {
border:0;
margin-left:-7px;
white-space:normal;
padding:0;
}


audio::-webkit-media-controls-timeline, video::-webkit-media-controls-timeline {
-webkit-appearance: media-slider;
display: -webkit-box;
box-sizing: border-box;
-webkit-box-flex: 1;
color: #ccc;
}
*::-webkit-media-controls {
direction: ltr;
}
audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
text-align: right;
}
.video {
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
}
.video iframe,  
.video object,  
.video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
sup{
font-weight:900;
}
hr{
background: transparent;
height: 1px;
border: none;
width: 100%;
margin: 0;
clear:both;
}
[class*="ease-in-out"]{
-khtml-transition: all 300ms ease-in-out;
-webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-ms-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
}
[class*="easeInOutCubic"]{
-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 0.050); 
-moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 0.050); 
-ms-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 0.050); 
-o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 0.050); 
transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 0.050); 

-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 0.050); 
-moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 0.050); 
-ms-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 0.050); 
-o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 0.050); 
transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 0.050); 
}
[class*="easeInOutQuint"]{
-webkit-transition: all 1000ms cubic-bezier(0.860, 0.000, 0.070, 0.050); 
-moz-transition: all 1000ms cubic-bezier(0.860, 0.000, 0.070, 0.050); 
-ms-transition: all 1000ms cubic-bezier(0.860, 0.000, 0.070, 0.050); 
-o-transition: all 1000ms cubic-bezier(0.860, 0.000, 0.070, 0.050); 
transition: all 1000ms cubic-bezier(0.860, 0.000, 0.070, 0.050); 

-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 0.050); 
-moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 0.050); 
-ms-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 0.050); 
-o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 0.050); 
transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 0.050); 
}
[class*="easeInOutSine"]{
-webkit-transition: all 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
-moz-transition: all 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
-ms-transition: all 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
-o-transition: all 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
transition: all 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 

-webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
-moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
-ms-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
-o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
}
[class*="easeInOutExpo"]{
-webkit-transition: all 1000ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-moz-transition: all 1000ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-ms-transition: all 1000ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-o-transition: all 1000ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
transition: all 1000ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 

-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-ms-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); 
}
[class*="easeInOutCirc"]{
-webkit-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
-moz-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
-ms-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
-o-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 
transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860); 

-webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
-moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
-ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
-o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); 
}
[class*="easeInOutBack"]{
-webkit-transition: all 1000ms cubic-bezier(0.680, 0, 0.265, 1); 
-webkit-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
-moz-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
-ms-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
-o-transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 

-webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); 
-webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
-moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
-ms-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
-o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}
[class*="easeInOutQuart"] {
-webkit-transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 0.050); 
-moz-transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 0.050); 
-ms-transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 0.050); 
-o-transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 0.050); 
transition: all 1000ms cubic-bezier(0.770, 0.000, 0.175, 0.050); 

-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 0.050); 
-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 0.050); 
-ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 0.050); 
-o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 0.050); 
transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 0.050); 
}
/*
::-khtml-scrollbar { height: 12px; width: 12px; background-color: rgba(240, 240, 240, 0.99); }
::-webkit-scrollbar { height: 12px; width: 12px; background-color: rgba(240, 240, 240, 0.99); }
::-moz-scrollbar { height: 12px; width: 12px;  background-color: rgba(240, 240, 240, 0.99); }
::-ms-scrollbar { height: 12px; width: 12px;  background-color: rgba(240, 240, 240, 0.99); }
::-o-scrollbar { height: 12px; width: 12px; background-color: rgba(240, 240, 240, 0.99); }
::scrollbar { height: 12px; width: 12px; background-color: rgba(240, 240, 240, 0.99); }


::-khtml-scrollbar-thumb{ background-color: rgba(114, 114, 114, 0.89);
background-image: -khtml-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}
::-webkit-scrollbar-thumb { background-color: rgba(114, 114, 114, 0.89);
background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}
::-moz-scrollbar-thumb { background-color: rgba(114, 114, 114, 0.89);
background-image: -moz-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}
::-ms-scrollbar-thumb { background-color: rgba(114, 114, 114, 0.89);
background-image: -ms-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}
::-o-scrollbar-thumb { background-color: rgba(114, 114, 114, 0.89);
background-image: -o-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}
::scrollbar-thumb: { background-color: rgba(114, 114, 114, 0.89);
background-image:gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

::-webkit-selection { color: black;  background: rgba(0, 202, 243, 0.72); }
::-moz-selection { color: black;  background: rgba(0, 202, 243, 0.72); }
::selection      { color: black;  background: rgba(0, 202, 243, 0.72); } */

/*=----------------------------------------------------------------
                        end of all reset 
  -----------------------------------------------------------------*/

a.createlink
{
  color: red;
}

#menu
{
    line-height: 40px;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid silver;
    background-color: rgba(192, 192, 192, 0.13);
}

#menu a
{
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 2px;
    margin-right: 15px;
    font-size: 12px;
    color: #444;
    background-color: #D1D1D1;
    padding: 8px 28px 8px 28px;
}

#loggedinas a
{
  margin-left: 10px;
  margin-right: 0px;
}

#menu a:hover {
background-color: #fff;
}
#loggedinas {
  float: right;
}


/*= --------------------------------------------
        FOOTER
    --------------------------------------------*/

#footer {
    /*color: #8B8B8B;*/
    color: #444444;
    font-size: 12px;
    line-height: 40px;
    clear: both;
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid silver;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-shadow: 0px 1px white;
    /*background-color: rgba(192, 192, 192, 0.13);*/
    background-image: linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);
    background-image: -o-linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);

    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(181,181,181)),
      color-stop(1, rgb(240,240,240))
    );
}

.center{
    margin:0 auto;
    width:100%;
    max-width: 940px;
    position:relative;
}

#registerForm label,#loginForm label{
  display:table;
}

#registerForm input,#loginForm input{
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  display: table;
}

.button {
    color: #444;
    border: 1px solid silver;
    padding: 4px 9px 4px 9px;
    border-radius: 3px;
    text-shadow: 0px 1px white;
    /*background-color: rgba(192, 192, 192, 0.13);*/
    background-image: linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);
    background-image: -o-linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(181,181,181) 0%, rgb(240,240,240) 100%);

    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(181,181,181)),
      color-stop(1, rgb(240,240,240))
    );
}



/*= --------------------------------------------
        cards
    --------------------------------------------*/

div.card {
border-radius: 2px;
float: left;
width: 47.4%;
margin: 2% 0 0 2%;
background: #AFE6F3;
padding: 30px 10px 2px 10px;
position: relative;
border: 1px solid #70E8F8;
box-shadow: 0 0 0 2px white, 0 0 0 4px #C2C2C2;
}
#content{
    margin: 0 auto 40px auto;
    width: 100%;
    max-width: 940px;
    position: relative;
}

div.tag {
    color: white;
    margin: 10px 0 0 0;
    margin-left: 4px;
    padding: 5px;
    float: left;
}

.deleteLink{
    font-size: 10px;
    text-transform: uppercase;
    color: #7C7C7C;
    padding: 4px 10px;
    position: absolute;
    right: 0px;
    top: 0;
}
.deleteLink:before{
    padding: 4px 8px;
    font-weight: 900;
    position: absolute;
    left: -20px;
    top: 2px;
    content: 'x';
    color: white;
    background: rgba(99, 86, 86, 0.53);
}

.getTitle{
color: black;
font-weight: 900;
}
.addCard {
font-weight: 900;
border-bottom: 2px solid cornflowerBlue;
position: absolute;
top: 0px;
right: 12px;
}

/*= --------------------------------------------
        learn
    --------------------------------------------*/

.wrap{
    display: table-cell;
}

.wrap input, .wrap div.tag{
    float:left;
    margin: 0 0 0 12px;
}


.freeBox{
    height: 100px;
    width:100%;
    clear: both;
}

#backHtml_tbl,#frontHtml_tbl{
    width:100%;
}
.testForm{
    background-color: #F7F7F7;
    margin-top: 20px;
    padding:20px;
}

.marginNullAuto{ 
     display: table;
     margin: 10px 0;
     font-weight: 900;
     text-transform: uppercase;
}

#title{
  width: 100%;
}
