/* 
    Document   : mindMap
    Created on : 10.01.2013, 01:00:11
    Author     : Thomas Oster <thomas.oster@rwth-aachen.de>
    Description:
        Purpose of the stylesheet follows.
*/
#mindMapContainer {
 width: 800px;
height: 450px;
overflow: scroll;
padding: 2px;
float: left;
border: 1px solid silver;
margin: 20px 0 20px 0;
}

#mindMap {
  position: relative;
}

.mindMapNode {
  margin: 2% 0 0 .1%;
  background-color: rgb(226, 226, 226);
  padding: 30px 10px 10px 10px;
  position: absolute;
  min-width: 160px;
  min-height: 80px;
  box-shadow: 0 1px 2px 1px silver;
  border-radius: 3px;
  padding: 3px;
  z-index: 2;
}

.mindMapNode.collapsed {
  width: auto;
}

.mindMapNode .collapsedCard {
  display: none;
}

.mindMapNode.collapsed .collapsedCard {
  display: inline;
}

.mindMapNode.collapsed .uncollapsedCard {
  display: none;
}

.mindMapNode.selectedNode {
  border: 2px solid yellow;
}
.mini{
    font-size: 8px;
}
.linkText {
  position: absolute;
  z-index: 1;
  border-radius: 3px;
  box-shadow: 0 1px 2px 1px silver;
  padding: 3px;
  min-width: 80px;
  min-height: 20px;
  background: white;
}

.deleteLink, .editLink, .linkLink, .toggleLink, .editLink {
  position: absolute;
  display: none;
  padding: 0px; 
  top: 0px;
  right: 0px;
  left: auto;
  bottom: auto;
}

.deleteLink:before, .editLink:before, .linkLink:before, .toggleLink:before, .editLink:before {
  color: white;
  background: rgba(99, 86, 86, 0.53);
  padding: 4px 8px;
  font-weight: 900;
  top: 0px;
  right: 0px;
  left: auto;
  bottom: auto;
}

.deleteLink:before {
  content: 'x';
}

.editLink {
  top: 30px;
}

.linkText .editLink {
  top: 0px;
  right: 30px;
}

.editLink:before {
  content: "Edit";
}

.toggleLink {
  top: 30px;
}

.toggleLink:before {
  content: '^';
}

.mindMapNode.collapsed .toggleLink:before {
  content: 'v';
}

.linkLink {
  top: 60px;
}

.linkLink:before {
  content: "Link";
}


.mindMapNode:hover .deleteLink, .mindMapNode:hover .linkLink, .mindMapNode:hover .toggleLink, .linkText:hover .editLink, .linkText:hover .deleteLink{
  display: inline;
}

select#tag
{
  width: 100px;
}

.arrow_box {
	position: absolute;
	background: #56d52f;
	border: 0px solid #3bf5ab;
  height: 3px;
  -moz-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  transform:rotate(0deg);
  z-index: -1;
  -webkit-transform: translate(0px, 0px);
  
}
.arrow_box:after, .arrow_box:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(86, 213, 47, 0);
	border-left-color: #56d52f;
	border-width: 10px;
	right: 0;
  margin-top: -8px;
	margin-right: -15px;
}
.arrow_box:before {
	border-color: rgba(59, 245, 171, 0);
	border-right-color: #56d52f;
	border-width: 10px;
	left: 0;
	margin-top: -8px;
  margin-left: -15px;
}