/* 
    Document   : mindMap
    Created on : 10.01.2013, 01:00:11
    Author     : Thomas Oster <thomas.oster@rwth-aachen.de>
    Description:
        Purpose of the stylesheet follows.
*/
#mindMap {
  /*
  TODO: Fix that it is not in pixel, but percent... and still works ;0
  */
  width: 800px;
  height: 600px;
  max-width: 940px;
  position: relative;
  padding: 2px;
  overflow: scroll;
  float: left;
  border: 1px solid silver;
}

.mindMapNode {
  background-color: lightgoldenrodyellow;
  position: absolute;
  border: 1px solid black;
  border-radius: 2px;
  max-width: 500px;
  padding: 3px;
  z-index: 2;
}

.mindMapNode.collapsed {
  width: auto;
}

.mindMapNode .collapsedCard {
  display: none;
}

.mindMapNode.collapsed .collapsedCard {
  display: inline;
}

.mindMapNode.collapsed .uncollapsedCard {
  display: none;
}

.mindMapNode.selectedNode {
  border: 2px solid yellow;
}

.linkText {
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  background: #09f;
  width: 50px;
  height: 50px;
}

.toggleLink{
    padding: 2px 2px;
    position: absolute;
    display: none;
    right: 55px;
    top: 0px;
}
.toggleLink:before{
    padding: 3px 8px;
    font-weight: 900;
    position: absolute;
    content: '^';
    color: white;
    background: rgba(99, 86, 86, 0.53);
}

.mindMapNode.collapsed .toggleLink:before {
  content: 'v';
  right: -22px;
}

.deleteLink{
    padding: 2px 2px;
    position: absolute;
    display: none;
    right: 2px;
    top: 2;
}
.deleteLink:before{
    padding: 4px 8px;
    font-weight: 900;
    position: absolute;
    content: 'x';
    color: white;
    background: rgba(99, 86, 86, 0.53);
}

.linkLink{
    font-size: 10px;
    text-transform: uppercase;
    color: #7C7C7C;
    position: absolute;
    padding: 4px 8px;
    font-weight: 900;
    right: 62px;
    top: 2px;
    color: white;
    background: rgba(99, 86, 86, 0.53);
    display: none;
}


.mindMapNode:hover .deleteLink{
  display: inline;
}

.mindMapNode:hover .linkLink {
  display: inline;
}

.mindMapNode:hover .toggleLink {
  display: inline;
}

.linkText:hover .deleteLink{
  display: inline;
}

#linkLayer {
  position: absolute;
  top: 0;
  left: 0;
}

select#tag
{
  width: 100px;
}